<a href="https://colab.research.google.com/github/igors96/Adaboost_School/blob/main/adaboost_regressor_school.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
pd.set_option('display.max_columns', 33)
escola = pd.read_csv('/content/school_grades_dataset.csv')

In [2]:
escola.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

In [3]:
escola.shape

(649, 33)

In [4]:
faltantes = escola.isnull().sum()
faltantes_percentual = (faltantes/len(escola['sex']))*100
print(faltantes_percentual)

school        0.0
sex           0.0
age           0.0
address       0.0
famsize       0.0
Pstatus       0.0
Medu          0.0
Fedu          0.0
Mjob          0.0
Fjob          0.0
reason        0.0
guardian      0.0
traveltime    0.0
studytime     0.0
failures      0.0
schoolsup     0.0
famsup        0.0
paid          0.0
activities    0.0
nursery       0.0
higher        0.0
internet      0.0
romantic      0.0
famrel        0.0
freetime      0.0
goout         0.0
Dalc          0.0
Walc          0.0
health        0.0
absences      0.0
G1            0.0
G2            0.0
G3            0.0
dtype: float64

In [5]:
escola.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [6]:
objetos = escola.drop(['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel', 'freetime', 'goout', 'Dalc',
                      'Walc', 'health', 'absences', 'G1', 'G2', 'G3'], axis = 1)

In [7]:
objetos_encoding = pd.get_dummies(objetos)

In [8]:
objetos_encoding.head()

,school_GP,school_MS,sex_F,sex_M,address_R,address_U,famsize_GT3,famsize_LE3,Pstatus_A,Pstatus_T,Mjob_at_home,Mjob_health,Mjob_other,Mjob_services,Mjob_teacher,Fjob_at_home,...,schoolsup_no,schoolsup_yes,famsup_no,famsup_yes,paid_no,paid_yes,activities_no,activities_yes,nursery_no,nursery_yes,higher_no,higher_yes,internet_no,internet_yes,romantic_no,romantic_yes
0,1,0,1,0,0,1,1,0,1,0,1,0,0,0,0,0,...,0,1,1,0,1,0,1,0,0,1,0,1,1,0,1,0
1,1,0,1,0,0,1,1,0,0,1,1,0,0,0,0,0,...,1,0,0,1,1,0,1,0,1,0,0,1,0,1,1,0
2,1,0,1,0,0,1,0,1,0,1,1,0,0,0,0,0,...,0,1,1,0,1,0,1,0,0,1,0,1,0,1,1,0
3,1,0,1,0,0,1,1,0,0,1,0,1,0,0,0,0,...,1,0,0,1,1,0,0,1,0,1,0,1,0,1,0,1
4,1,0,1,0,0,1,1,0,0,1,0,0,1,0,0,0,...,1,0,0,1,1,0,1,0,0,1,0,1,1,0,1,0

In [9]:
escola.drop(['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'reason', 'guardian', 'schoolsup',
            'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic'], axis = 1, inplace = True)

In [10]:
concatenado = pd.concat([escola, objetos_encoding], axis = 1)

In [11]:
concatenado.shape

(649, 59)

In [12]:
x = concatenado.drop('G3', axis = 1)
y = concatenado['G3']

In [13]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

modelo = AdaBoostRegressor()
kfold = KFold(n_splits = 5)
resultado = cross_val_score(modelo,x,y,cv = kfold, n_jobs = -1)
print(resultado.mean())

0.7051104013352475

In [14]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

modelo = AdaBoostRegressor(n_estimators = 500, learning_rate = 0.1)
kfold = KFold(n_splits = 5)
resultado = cross_val_score(modelo,x,y,cv = kfold, n_jobs = -1)
print(resultado.mean())

0.6937934272874681

In [15]:
import numpy as np
from sklearn.model_selection import GridSearchCV

valores_grid = {'learning_rate': np.array([0.3,0.2,0.1,0.05])}

modelo1 = AdaBoostRegressor(n_estimators = 500)

gridAdaBoost = GridSearchCV(estimator = modelo1, param_grid = valores_grid, cv = 3, n_jobs = -1)
gridAdaBoost.fit(x,y)

print('Melhor taxa de aprendizagem: ', gridAdaBoost.best_estimator_.learning_rate)
print('Acurácia: ', gridAdaBoost.best_score_)

Melhor taxa de aprendizagem:  0.1
Acurácia:  0.6824861935931367